body {

  padding-top: 120px;

  padding-bottom: 40px;

  background-color: #eee;

}

.container {

    margin-top: 1cm;
    width: 100%;

    margin-bottom: 1cm;
	}
	

	

.form-signin {

  max-width: 330px;

  padding: 15px;

  margin: 0 auto;

}

.form-signin .form-signin-heading,

.form-signin .checkbox {

  margin-bottom: 10px;

}

.form-signin .checkbox {

  font-weight: normal;

}

.form-signin .form-control {

  position: relative;

  height: auto;

  -webkit-box-sizing: border-box;

     -moz-box-sizing: border-box;

          box-sizing: border-box;

  padding: 10px;

  font-size: 16px;

}

.form-signin .form-control:focus {

  z-index: 2;

}

.form-signin input[type="email"] {

  margin-bottom: -1px;

  border-bottom-right-radius: 0;

  border-bottom-left-radius: 0;

}

.form-signin input[type="password"] {

  margin-bottom: 10px;

  border-top-left-radius: 0;

  border-top-right-radius: 0;

}


/*============================================================================ logo.php css  ==================================*/
.logo-css {
	    margin-top: 0.5cm;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  border: none;
  font: normal 80px/1 "Nova Flat", Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.logo-css::before {
	    margin-top: 1cm;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 2;
  width: 100%;
  height: 200%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  overflow: hidden;
  border: none;
  font: normal 60px/1 "Nova Flat", Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.43) 0, rgba(255,255,255,0.2) 44%, rgba(255,255,255,0.5) 45%, rgba(255,255,255,0.96) 57%, rgba(255,255,255,1) 100%);
  background: -moz-linear-gradient(0deg, rgba(255,255,255,0.43) 0, rgba(255,255,255,0.2) 44%, rgba(255,255,255,0.5) 45%, rgba(255,255,255,0.96) 57%, rgba(255,255,255,1) 100%);
  background: linear-gradient(0deg, rgba(255,255,255,0.43) 0, rgba(255,255,255,0.2) 44%, rgba(255,255,255,0.5) 45%, rgba(255,255,255,0.96) 57%, rgba(255,255,255,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  text-shadow: none;
  -webkit-transform:  scaleY(-1)  ;
  transform:  scaleY(-1)  ;
}

.logo-css::after {
  margin-top: 2cm;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "codemagics improvement";
  left: 0;
  border: none;
  font: normal 80px/0 "Nova Flat", Helvetica, sans-serif;
  color: rgba(84,84,84,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: none;
  -webkit-transform:  scaleY(-0.5) translateY(-20%) ;
  transform:  scaleY(-0.5) translateY(-20%) ;
  -webkit-transform-origin: 50% 0 0;
  transform-origin: 50% 0 0;
}
/*============================================================================ logo.php css  ==================================*/